@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  font-family: "Alata", sans-serif;
}
.modal_login {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
